.btn {
  transition: all 0.6s ease-in-out;
  border-radius: toRem(8);

  &-circle {
    border-radius: 50%;
    height: toRem(35);
    width: toRem(35);
    background: $brand-gray;
    color: $brand-dark;
    transition: all 0.4s ease-in-out;

    display: grid;
    place-items: center;

    &-gray {
      background: $brand-dark-lighter;
      color: $color-text;
    }

    &-sm {
      height: toRem(25);
      width: toRem(25);
      font-size: toRem(14);
    }

    &-lg {
      height: toRem(50);
      width: toRem(50);
      font-size: toRem(18);
    }

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 1px 3px 0 rgba(242, 241, 245, 0.1),
        0 1px 2px 0 rgba(242, 241, 245, 0.06);
    }
  }

  &-primary {
    background: $brand-primary;
    color: $color-text-light;
    font-weight: 600;
    font-size: toRem(16);
    letter-spacing: 0.4pt;
    text-transform: capitalize;

    display: inline-flex;
    align-items: center;

    &:hover {
      box-shadow: none;
      background: darken($color: $brand-primary, $amount: 2);
      transform: scale(1.1);
    }

    &:focus {
      background: darken($color: $brand-primary, $amount: 5);
      box-shadow: none;
    }
  }

  &-icon {
    font-size: toRem(10);
    width: toRem(17);
    height: toRem(17);
  }
}
