// BLUE SHADES
$brand-navy: #0a0927;
$brand-blue: #017ac2;
$brand-blue-dark: #00034e;
$brand-blue-light: #b1bace;

// GRAY SHADES
$brand-gray: #f1f5f8;
$brand-light-gray: #f5f5f5;
$brand-dark-gray: #424b5a;

// OTHER COLORS
$brand-accent: #fdc600;
$brand-brown: #e6d7b2;
$brand-tonic: #aa3e50;
$brand-pink: #c38bb4;

// TEXT COLORS
$color-white: #ffffff;
$color-text: #01021b;
$color-text-light: #9ea7b4;
