// BLACK SHADES
$brand-dark: #0f0e13;
$brand-dark-lighter: #2f3146;
$brand-bg: #14141b;
$brand-dark-light: #191821;

// BLUE SHADES
$brand-blue: #017ac2;
$brand-blue-dark: #00034e;
$brand-blue-light: #b1bace;
$brand-blue-gray: #242832;

// GRAY SHADES
$brand-gray: #f1f5f8;
$brand-light-gray: #f5f5f5;
$brand-dark-gray: #424b5a;

// OTHER COLORS
$brand-yellow: #fdc600;
$brand-accent: #ff9b3c;
$brand-brown: #e6d7b2;
$brand-tonic: #e9465d;
$brand-pink: #c38bb4;

// TEXT COLORS
$color-white: #ffffff;
$color-text: #b6b8bc;
$color-text-light: #f5f5f5;
